/*Styles for Header.Js Component*/
#header {
  margin-bottom: 40px;
  color: $navbar-text-color;
  font-family: 'Poppins', sans-serif;

  .navbar-brand {
    margin-right: 3rem;
    font-size: 1.8rem;
    letter-spacing: 2.5px;
  }

  .nav-item {
    margin-right: 3rem;
  }

  .auth-btn {
    border: 2px solid;
    border-radius: 30px;
    font-size: 1.0rem;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }

  .nav-link:hover {
    color: $nav-link-hover-color;
    font-weight: bold;
  }

  .navbar-brand:hover {
    color: $nav-link-hover-color;
  }

  .navbar-toggler {
    margin-right: 20px;
  }

  .show {
    background-color: #070709;
    padding-bottom: 20px;
  }
}

/*On small devices*/
@media (max-width: 575.98px) {
  #header {
    padding: 15px;
    margin-bottom: 40px;

    .navbar-brand {
      margin-right: 10px;
      font-size: 1.5rem;
    }
  }
}
