@import "variables.scss";
@import 'header.scss';
@import 'homepage.scss';
@import 'auth/login.scss';
@import 'auth/register.scss';
@import 'books-containers/books.scss';
@import 'books-containers/book-detail-page.scss';
@import 'books-containers/create-book.scss';
@import 'books-containers/editable-component.scss';
@import 'books-containers/_book-search-list.scss';
@import 'form/forms.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

#main-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

h1 {
  font-family: $main-title-font-family;
  font-weight: bold;
}

.component-container {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  font-family: Roboto;
  overflow: auto;
  height: -webkit-fill-available;
}

.card>.card-body>.card-title {
  text-transform: capitalize;
  color: $main-homepage-color;
  font-family: $main-title-font-family;
  font-weight: bold;
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .component-container {
    padding: 0rem;
  }
}
