@import "variables.scss";
@import 'header.scss';
@import 'homepage.scss';
@import 'auth/login.scss';
@import 'auth/register.scss';
@import 'books-containers/books.scss';
@import 'books-containers/book-detail-page.scss';
@import 'books-containers/create-book.scss';
@import 'books-containers/editable-component.scss';
@import 'books-containers/_book-search-list.scss';
@import 'forms.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

h1 {
  font-family: $main-title-font-family;
  font-weight: bold;
}

.card>.card-body>.card-title {
  text-transform: capitalize;
  color: $main-homepage-color;
  font-family: $main-title-font-family;
  font-weight: bold;
}
