@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-font-family: Roboto;
$main-title-font-family: Open Sans;
$main-text-color: #4b4b4b;
$main-homepage-color:#07192b;
$main-background: #eb6e34;
