/*Homepage Component*/
.homepage {
  padding: 4rem;
  font-family: $main-font-family;

  .home-content {
    color: $main-homepage-color;
    text-shadow: 0 0 8px #c1b2aa;
    margin: 0 auto;
    text-align: left;
    background-color: transparent;
  }
}

.homepage-text {
  font-size: 1.25rem;
}

/*Display for mobile device*/
@media (max-width: 576px) {
  .display-6 {
    font-size: 2rem;
  }

  .homepage-text {
    font-size: 1rem;
  }
}
