#books-listing-page {
  margin-top: 60px;

  .card:hover {
    box-shadow: -1px 9px 40px -12px $main-text-color;
    opacity: .9;
  }
}


@media (min-width: 576px) {
    .card-columns {
        column-count: 2 !important;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3 !important;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4 !important;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5 !important;
    }
}

.book-publish-prod {
  color: green;
  font-size: 15px;
}

#book-manage-page {
  margin-top: 50px;
  .card {
    margin-bottom: 20px;
  }

}
