.books-listing-page {
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

.cards {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}

.cards .my-card {
  width: 100%;
  margin: 0 0 20px;
  background: #fff;
  overflow: hidden;
  break-inside: avoid;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  
  h2 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
  }
  
  img {
    max-width: 100%;
  }
  
  a .card-link{
    text-decoration: none;
  }  

  &:hover {
    opacity: .8;
    
    cursor: pointer; 
    a .card-link {
      text-decoration: none;
    }  
  }
}

@media (max-width: 1200px) {
  .cards {
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    /* padding: 20px 20px 20px 0; */
  }
}

@media (max-width: 768px) {
  .cards {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .cards {
    columns: 1;
  }
}


.book-publish-prod {
  color: green;
  font-size: 15px;
}

#book-manage-page {
  margin-top: 50px;
  .my-card {
    margin-bottom: 20px;
  }
}
