#book-detail-page {
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: #e6e7f5;

  .book {
    &-title {
      color: $main-text-color;
      text-transform: capitalize;
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.75rem;
      padding: 6px 12px;
    }
    &-author {
      color: $main-homepage-color;
      font-size: 1.5em;
      padding: 6px 12px;
    }
    &-category {
      color: purple;
      text-transform: uppercase;
      font-weight: 550;
      letter-spacing: 0.10em;
      padding: 6px 12px;
    }
  }
  .card-text {
    padding: 6px 12px;
  }
}

@media (max-width: 420px) {
  #book-detail-page {
    margin-top: 14px;
    .book {
      &-title {
        font-size: 1.65rem;
      }
      &-author {
        font-size: 1.35em;
      }
      &-description {
        font-size: .95rem;
      }
    }
    .card-text {
      padding: 6px 12px;
    }
  }
}
