.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: $main-text-color;
    font-weight: 500;
  }

  .nav-link {
    color: $main-text-color;
  }

  .nav-link:hover {
    color: $main-background;
    font-weight: bold;
    border: 1px solid $main-text-color;
    border-radius: 2px;
  }

    .navbar-toggler {
      padding: .25rem .75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: #c1292938;
      border: 1px solid #b75f5f;
      border-radius: .25rem;
  }
  .show {
    background-color: white;
  }
}
