/*Styles for Header.Js Component*/
#header {
  margin-bottom: 40px;
  color: $navbar-text-color;

  .navbar-brand {
    margin-right: 3rem;
    font-size: 2.2rem;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: 500;
    color: $navbar-text-color;
  }
  /* faBook */
  span.icon {
    margin-right: 10px;
  }

  .nav-link {
    font-size: 1.24rem;
    color: $navbar-text-color;
  }

  .nav-link:hover {
    color: $nav-link-hover-color;
    font-weight: bold;
  }

  .navbar-brand:hover {
    color: $nav-link-hover-color;
  }
}

/*On small devices*/
@media (max-width: 575.98px) {
  #header {
    padding: 15px;
    margin-bottom: 40px;

    .navbar-brand {
      margin-right: 10px;
      font-size: 1.5rem;
    }
  }
}
