#navbar {
  padding: 20px;
  margin-bottom: 40px;

  .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: $main-text-color;
    font-weight: 500;
  }

  .nav-link:hover {
    color: $main-background;
    font-weight: bold;
    border: 1px solid $main-text-color;
    border-radius: 2px;
  }

  .show {
    background-color: white;
  }
}
