@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
#navbar {
  padding: 20px;
  margin-bottom: 40px; }
  #navbar .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: #4b4b4b;
    font-weight: 500; }
  #navbar .nav-link:hover {
    color: #eb6e34;
    font-weight: bold;
    border: 1px solid #4b4b4b;
    border-radius: 2px; }
  #navbar .show {
    background-color: white; }

/*Homepage Component*/
.homepage {
  padding: 4rem;
  font-family: Roboto; }
  .homepage .home-content {
    color: #07192b;
    text-shadow: 0 0 8px #c1b2aa;
    margin: 0 auto;
    text-align: left;
    background-color: transparent; }

.homepage-text {
  font-size: 1.25rem; }

/*Display for mobile device*/
@media (max-width: 576px) {
  .display-6 {
    font-size: 2rem; }
  .homepage-text {
    font-size: 1rem; } }

/*Login Component*/
#login-page {
  margin-top: 50px; }
  #login-page #success-alert {
    margin-top: 100px; }
  #login-page-title {
    margin-bottom: 50px;
    font-size: 27px;
    padding-top: 20px;
    text-decoration: underline; }
  #login-page-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0; }
  #login-page-img-text {
    padding: 35% 20px 35% 20px;
    background-color: #07192b;
    opacity: 0.5;
    color: white;
    text-align: center; }

/*loginForm*/
#login-form .form-success {
  background-color: #07192b;
  border-color: #07192b;
  margin-bottom: 30px; }

#login-form .form-success:hover {
  background-color: #eb6e34; }

/*Register Component*/
#register-page {
  margin-bottom: 50px; }

.form-box {
  margin-top: 20px;
  box-shadow: -1px 1px 50px 10px black; }

.form-title {
  margin-bottom: 50px;
  font-size: 27px;
  padding-top: 20px;
  text-decoration: underline; }

.form-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0; }

.form-img-text {
  padding: 35% 20px 35% 20px;
  background-color: #07192b;
  opacity: 0.5;
  color: white;
  text-align: center; }

/*Register Form*/
#register-form .form-success {
  background-color: #07192b;
  border-color: #07192b;
  margin-bottom: 30px; }

#register-form .form-success:hover {
  background-color: #eb6e34; }

#books-listing-page {
  margin-top: 60px; }
  #books-listing-page .card:hover {
    box-shadow: -1px 9px 40px -12px #4b4b4b;
    opacity: .9; }

@media (min-width: 576px) {
  .card-columns {
    column-count: 2 !important; } }

@media (min-width: 768px) {
  .card-columns {
    column-count: 3 !important; } }

@media (min-width: 992px) {
  .card-columns {
    column-count: 4 !important; } }

@media (min-width: 1200px) {
  .card-columns {
    column-count: 5 !important; } }

.book-publish-prod {
  color: green;
  font-size: 15px; }

#book-manage-page {
  margin-top: 50px; }
  #book-manage-page .card {
    margin-bottom: 20px; }

#book-detail-page {
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: #e6e7f5; }
  #book-detail-page .book-title {
    color: #4b4b4b;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 6px 12px; }
  #book-detail-page .book-author {
    color: #07192b;
    font-size: 1.5em;
    padding: 6px 12px; }
  #book-detail-page .book-category {
    color: purple;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 0.10em;
    padding: 6px 12px; }
  #book-detail-page .card-text {
    padding: 6px 12px; }

@media (max-width: 420px) {
  #book-detail-page {
    margin-top: 14px; }
    #book-detail-page .book-title {
      font-size: 1.65rem; }
    #book-detail-page .book-author {
      font-size: 1.35em; }
    #book-detail-page .book-description {
      font-size: .95rem; }
    #book-detail-page .card-text {
      padding: 6px 12px; } }

#editableComp .btn-editable {
  margin-left: 10px;
  font-size: 20px; }

.image-upload-container {
  margin-bottom: 20px;
  position: relative; }
  .image-upload-container .img-preview-container {
    background-color: grey; }
    .image-upload-container .img-preview-container .img-upload {
      margin-right: 20px;
      margin-bottom: 0; }
    .image-upload-container .img-preview-container .img-preview {
      background: center center no-repeat;
      background-size: contain;
      height: 116px;
      width: 116px; }

.btn-editable-image {
  margin: 10px; }

/*Spinner loading*/
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute; }

.lds-dual-ring:after {
  content: " ";
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*Other form elements*/
.textarea {
  border: 2px solid black; }

.label {
  font-size: 19px;
  color: #07192b;
  font-weight: bold; }

body {
  margin: 0; }

#main-page {
  width: 100vw;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover; }

h1 {
  font-family: Open Sans;
  font-weight: bold; }

.component-container {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  font-family: Roboto;
  overflow: auto;
  height: -webkit-fill-available; }

.card > .card-body > .card-title {
  text-transform: capitalize;
  color: #07192b;
  font-family: Open Sans;
  font-weight: bold; }

@media (max-width: 480px) {
  .container {
    padding: 15px; } }

@media (max-width: 480px) {
  .component-container {
    padding: 0rem; } }
